.main-button {
    background: var(--darkgreen);
    border-radius: 20px;
    color: var(--lightgreen);
    text-decoration: none;
    padding: 20px 30px;
    font-size: 12pt;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
}
.main-button:hover {
    background: var(--darkgreen);
    color: var(--lightgreen);
}