.vis-mer{
    background: var(--lightgreen);
    color: var(--darkgreen);
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 300px;
    cursor: pointer;
}
.vis-mer:hover{
    background: white;
    border: 2px solid var(--darkgreen);
    color: var(--darkgreen);
    font-weight: bold;
}