.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--lightgreen);
    color: var(--darkgreen);
    border-radius: 14px;
    text-decoration: none;
    padding: 0px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.header-vis-mer {
    text-decoration: none;
    color: var(--darkgreen);
}