nav {
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    font-size: 1rem;
    margin: 0em 6em;
}

nav .menu {
    list-style: none;
    margin: 24px 0;
    padding: 0;
}

nav .menu li {
    display: inline;
    margin-right: 18px;
    font-weight: bold;
    color: black;
}

nav .menu a {
    text-decoration: none;
}
  
@media screen and (max-width: 950px) {
    nav {
      margin: 2em 1rem;
      grid-template-columns: 100%;
      text-align: center;
    }

    .search-box {
        width: 80%;
    }
  }

.logo {
    transition: 0.2s all;
}

.logo:hover {
    transform: scale(0.95, 0.95);
}

.icons {
    width: 30px;
}
.search-box {
    border: 1px solid var(--darkgreen);
    padding: 10px 6px;
    border-radius: .4rem;;
}