nav {
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
    font-size: 1rem;
    margin: 0em 6em;

}
  
@media screen and (max-width: 700px) {
    nav {
      margin: 2em 1rem;
    }
  }

.logo {
    transition: 0.2s all;
}

.logo:hover {
    transform: scale(0.95, 0.95);
}

.icons {
    width: 30px;
}
.search-box {
    border: 1px solid var(--darkgreen);
    padding: 6px;
    border-radius: .4rem;;
}