footer {
    background: var(--darkgreen);
    color: var(--lightgreen);
    width: 100vw;
    display: grid;
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1em;}

.icon {
    width: 50px;
}

.icon2 {
    width: 100px;
    padding: 10px;
}