footer {
    background: var(--darkgreen);
    color: var(--lightgreen);
    width: 100vw;
    display: flex;
    padding: 48px 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 3;
}

.icon {
    width: 50px;
}
@media (min-width: 700px) {
    footer {
      flex-direction: column;
    }
}