:root {
  --lightgreen: #EEF0ED;
  --darkgreen: #2E3E39;
  --paletsgreen: #E8F2EA;
  --gray: #636363;
  --black: #161616;
  --lightred: #F5DCD7;
  --white: #fafafa;
}

.text-title {
  font-family: 'Mulish', sans-serif;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-inset {
  margin: 2em 6em;
}

@media screen and (max-width: 700px) {
  .content-inset {
    margin: 2em 1rem;
  }
}